{%- assign price = item.price | money -%}

<div class="cart-item-price">
	{%- if item.original_line_price != item.line_price -%}
		<span class="visually-hidden">
			{{ 'cart.label.discounted_price' | t }}
		</span>

		{{- price -}}

		<span class="visually-hidden">
			{{ 'cart.label.original_price' | t }}
		</span>

		<s>
			{{- item.original_price | money -}}
		</s>
	{%- else -%}
		{{- price -}}
	{%- endif -%}
</div>
